# HISTOGRAM!!
<br>
for continuous features, if were to be categorical then bar chart!!

> bin size increase =bins widder, vice verse

In [5]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("../Data/mpg.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [7]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [12]:
data = [go.Histogram(
    x=df['mpg'],
    xbins=dict(start=8,end=50,size=6),
)]

layout=go.Layout(title="HISTOGRAM!!")

fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="Histogram.html")

'Histogram.html'