In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [3]:
df=pd.read_csv("../Data/mpg.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [19]:
#text-> what value to show on hover.
data = [go.Scatter(x=df['horsepower'],
                  y=df['mpg'],
                  text=df['name'],
                   mode='markers',
                  marker=dict(size=df['weight']/100,
                              color=df['cylinders'],
                             showscale=True))]

In [20]:
layout=go.Layout(title='Bubble Chart')

In [21]:
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='bubble1.html')

'bubble1.html'